In [1]:
import pandas as pd
import numpy as np

# Load the datasets
# 'u.data' contains user, movie, rating, timestamp
ratings = pd.read_csv('data/u.data', sep='\t', names=['user_id', 'movie_id', 'rating', 'timestamp'])

# 'u.item' contains movie details like title
movies = pd.read_csv('data/u.item', sep='|', names=['movie_id', 'movie_title'], usecols=[0, 1], encoding='latin-1')

# Merge the two datasets based on movie_id
data = pd.merge(ratings, movies, on='movie_id')
data.head()

   user_id  movie_id  rating  timestamp   movie_title
0      196       242       3  881250949  Kolya (1996)
1       63       242       3  875747190  Kolya (1996)
2      226       242       5  883888671  Kolya (1996)
3      154       242       3  879138235  Kolya (1996)
4      306       242       5  876503793  Kolya (1996)